.profileContainer {
  align-items: center;
  background-color: var(--white);
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  margin-top: 2.5rem;
}

.profileContainer > img {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
}

.profileContainer div {
  margin-left: 1.5rem;
}

.profileContainer div strong {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--title);
}

.profileContainer div p {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.profileContainer div p img {
  margin-right: 0.5rem;
}
